body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('port-background.jpg') no-repeat center center/cover;
    z-index: -1;
}

#background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    background: linear-gradient(90deg, #1a1a1a 0%, #004466  100%);
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.navLinks {
    list-style: none;
    display: flex;
    column-gap: 30px;
    padding-top: 10px;
}

.navLinks a {
    text-decoration: none;
    color: inherit;
    align-items: center;
}

.navLink-item{
    cursor: pointer;
    font-size: 20px;
    background-color: hsla(214, 69%, 76%, 0.651);
    padding: 5px 20px;
    align-items: center;
    border-style: solid;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, 0.2s ease;
}

.navLink-item:hover {
    background-color: hsla(214, 69%, 76%, 0.30);
    transform: scale(1.15);
}

.nameBrand {
    font-size: 1.75rem;
    font-weight: bold;
    padding-top: 15px;
    transition: transform 0.3s ease-in-out;
}

.nameBrand:hover {
    transform: scale(1.15);
}

.sideBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: linear-gradient(90deg, #1a1a1a 0%, #004466  100%);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(40, 40, 40, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sideBar li {
    list-style: none;
    margin: 10px;
    width: 100%;
}

.sideBar a{
    width: 100%;
    text-decoration: none;
    color: inherit;
    align-items: center;
}

.menuIcon {
    display: none;
}

@media(max-width: 780px) {
    .navLinks .navLink-item {
        display: none;
    }
    .menuIcon {
        display: block;
    }
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 200px 100px 50px;
    gap: 80px;
}

.blob {
    width: 250px;
    height: 250px;
    background: hsla(214, 69%, 76%, 0.651);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    color: white;
    text-align: center;
    font-size: 1rem;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.blob a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

.blob:hover {
    transform: scale(1.15);
}

@media(min-width: 1024px) {
    .workContainer {
        padding-left: 220px;
    }
}

@media(max-width: 1023px) {
    .workContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media(max-width: 780px) {


    header {
        height: 12%;
    }

    .workContainer {
        align-items: center;
        padding-top: 180px;
        flex-direction: column;
    }

    .blob {
        width: 90%;
        height: 100%;
    }
}